html {
	background: white;
	height: 100%;
	width: 100%;
	font-size: 62.5%;
	font-size: calc(1em * .625);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
} 

body {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 95%;
	margin: 26px;
	padding: 0;
	border: 1px solid black;
	line-height: 1.4;
	background-color: linen;
	/*background-color: #FAF0E6;
	 background-color: linen; */
	color: #000;
	font-family: opensans-light, helvetica, arial, sans-serif;
	font-size: 1.6em;
}

body, input, button, textarea, select {
	font-family: "Palatino Linotype", Freeserif, serif;
	letter-spacing: .05em;
}

.container {
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
}

.form-group {
	margin-bottom: 15px;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

a {
	color: #337ab7;
	text-decoration: none;
}

.buttonsLine {
	display:flex;
	flex-direction:row;
}

.buttonsLine > button, .buttonsLine > ul  {
	 margin:7px 15px 7px 0px;
}

.form-control-parent {
	max-width: 90%;
}

.form-control {
	width: 40%;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #999;
}
.form-control::-webkit-input-placeholder {
	color: #999;
}
.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed;
}
textarea.form-control {
	height: auto;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: #a94442;
}
.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
}
.has-error .form-control-feedback {
	color: #a94442;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color: #843534;
}

@media (min-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}

	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
}
.jumbotron h1,
.jumbotron .h1 {
	color: inherit;
}
.jumbotron p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}
.jumbotron > hr {
	border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 6px;
}
.jumbotron .container {
	max-width: 100%;
}
@media screen and (min-width: 768px) {
	.jumbotron {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.container .jumbotron,
	.container-fluid .jumbotron {
		padding-right: 60px;
		padding-left: 60px;
	}
	.jumbotron h1,
	.jumbotron .h1 {
		font-size: 63px;
	}
}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid ;
	border-radius: 4px;
}
.alert h4 {
	margin-top: 0;
	color: inherit;
}
.alert .alert-link {
	font-weight: bold;
}
.alert > p,
.alert > ul {
	margin-bottom: 0;
}
.alert > p + p {
	margin-top: 5px;
}